.team-heading{
   background-color: rgb(241, 232, 99);
}

.card-header{
    background-color: rgb(65, 65, 247);
    color: white;
}

.employee-card{
    margin: 20px;
    box-shadow: 5px 10px 8px #888888;
    width: 300px;
}

h3{
    color: orange;
}